
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow: paged-y-controls;
    /*background: black;*/
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#bodydivh1 {
    width: 50%;
    font-family: "Droid Serif", "DejaVu Serif", "STIX", serif;
    text-align: left;
    margin: 0 auto;
}

h1 {
    padding-bottom: 1vw;
    padding-top: 1vw;
    padding-right: 1vw;
    text-align: center;
}

a, label, legend, #confirmB, #passwordErrorText, #roomNumberh5Note {
    color: white;
    text-decoration: none;
}

label, #confirmB {
    margin-left: 13.5em;
}

#passwordErrorText, #roomNumberh5Note {
    margin-left: 15vw;
}

label {
    margin-top: 1vw;
    width: 12vh;
}

input, #username {
    width: 14vw;
}

legend {
    font-style: italic;
    text-align: left;
    text-indent: 4vh;
}

a:hover{
    color: floralwhite;
    text-decoration: underline;
}

fieldset {
    margin-bottom: 1vw;
}

#fieldsetDefaultLogin {
    margin-bottom: 3vw;
}

#username, #usernameSignin {
    margin-top: 1vw;
}

#signinsubmit, #loginsubmit {
    margin-left: 18.5vw;
    width: 10vw;
    margin-bottom: 1vw;
}

#moneylogin {
    margin-left: 1em;
}

#Emailsignin {
    margin-left: 2.4em;
}

#typePvP {
    margin-left: 2.8em;
}

#roomNumber, #labelRoomNumber {
    display: none;
}

#roomNumber {
    margin-left: 2.9em;
}

#passwordsignin, #confirmpasswordsignin, #PasswordLogin {
    margin-left: 0.5em;
}
