<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Homepage</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/defaultstyle.css">
        <script type="module" src="../static/defaultPasswordCheck.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    </head>

    <body>
        <div id="bodydivh1">
            <h1><a href="{{ url_for('homepage') }}"><i>Poker Game</i></a></h1>
             <form action="{{ url_for('play_poker') }}" method="post" id="formDefaultLogin">
                 <fieldset id="fieldsetDefaultLogin">
                     <legend>Log In</legend>
                     <label for="username"><b>Username: </b></label>
                     <input type="text" placeholder="Name" id="username" name="user" required minlength="3" maxlength="16" autofocus>
                     <br><br>
                     <label for="PasswordLogin"><b>Password: </b></label>
                     <input type="password" placeholder="Password" id="PasswordLogin" name="password" required maxlength="32" minlength="6">
                     <br><br>
                     <label for="moneylogin"><b>Quantity: </b></label>
                     <input type="number" id="moneylogin" max="10000" min="1000" value="5000" name="money" required>
                     <br><br>
                     <label for="typePvC"><b>Player vs Computer: </b></label>
                     <input type="radio" id="typePvC" name="GameType" checked value="typePvC">
                     <br>
                     <label for="typePvP"><b>Player vs Player: </b></label>
                     <input type="radio" id="typePvP" name="GameType" value="typePvP">
                     <label for="roomNumber"  id="labelRoomNumber"><b>Room: </b></label>
                     <input type="number" placeholder="Room Number" name="roomNumber" id="roomNumber">
                     <h5 id="roomNumberh5Note"></h5>
                     <br><br>
                     <input type="hidden" value="0" name="round">
                     <input type="hidden" value="0" name="blind">
                     <input type="submit" value="Play Poker!" id="loginsubmit" onclick="submitForm()">
                 </fieldset>
             </form>
            <form action="{{ url_for('homepage') }}" method="post" id="formDefaultSignin">
                <fieldset id="fieldsetDefaultSignin">
                    <legend>Sign In</legend>
                    <label for="usernameSignin"><b>Username: </b></label>
                    <input type="text" placeholder="Name" id="usernameSignin" name="user" required minlength="3" maxlength="16">
                    <br><br>
                    <input type="hidden" value="1000000" name="money">
                    <label for="Emailsignin"><b>E-mail: </b></label>
                    <input type="email" required placeholder="E-mail" maxlength="128" id="Emailsignin" name="EmailSignin">
                    <br><br>
                    <label for="passwordsignin"><b>Password: </b></label>
                    <input type="password" required maxlength="32" minlength="6" id="passwordsignin" name="password" placeholder="Password">
                    <br><br>
                    <b id="confirmB">Confirm</b><br>
                    <label for="confirmpasswordsignin"><b>Password: </b></label>
                    <input type="password" required maxlength="32" minlength="6" id="confirmpasswordsignin" name="confirmpassword" placeholder="Confirm Password">
                    <h6 id="passwordErrorText"></h6>
                    <br>
                    <input type="submit" value="Sign In!" id="signinsubmit" disabled>
                </fieldset>
            </form>
        </div>
        {% if success %}
            <script>
                window.onload = function() {
                    window.alert('Account created successfully!');
                }
            </script>
        {% elif message %}
            <script>
                window.onload = function() {
                    window.alert({{ message | tojson | string }});
                }
            </script>
        {% endif %}
        <script>
            const submitButtonPlayPoker = document.getElementById("loginsubmit");
            const formPlayPoker = document.getElementById("formDefaultLogin");
            const radiotypePvP = document.getElementById("typePvP");
            const radiotypePvC = document.getElementById("typePvC");
            const roomNumberh5Note = document.getElementById("roomNumberh5Note");
            const roomNumberlabel = document.getElementById("labelRoomNumber");
            const roomNumbernumber = document.getElementById("roomNumber");

            radiotypePvP.onclick = function () {
                {# make RoomNumber Visible #}
                roomNumberh5Note.innerHTML = "<b>Note:</b> If no number is included, new room is created.";
                roomNumberlabel.style.display = "inline";
                roomNumbernumber.style.display = "inline";
            };

            radiotypePvC.onclick = function () {
                {# make RoomNumber Unvisible #}
                roomNumberh5Note.innerHTML = "";
                roomNumberlabel.style.display = "none";
                roomNumbernumber.style.display = "none";
                roomNumbernumber.value = "";

            };

            function submitForm() {
                if(radiotypePvP.checked) {
                    formPlayPoker.action = "{{ url_for('PlayerVsPlayer') }}";
                } else {
                    formPlayPoker.action = "{{ url_for('play_poker') }}";
                }
            }

        </script>
    </body>
</html>
