<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Homepage</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/defaultstyle.css">
        <script type="module" src="../static/defaultPasswordCheck.js"></script>
    </head>

    <body>
        <div id="bodydivh1">
            <h1><a href="{{ url_for('homepage') }}"><i>Poker Game</i></a></h1>
             <form action="{{ url_for('play_poker') }}" method="get" id="formDefaultLogin">
                 <fieldset id="fieldsetDefaultLogin">
                     <legend>Log In</legend>
                     <label for="username"><b>Username: </b></label>
                     <input type="text" placeholder="Name" id="username" name="user" required minlength="3" maxlength="16" autofocus>
                     <br><br>
                     <label for="value"><b>Quantity: </b></label>
                     <input type="number" id="moneylogin" max="10000" min="1000" value="5000" name="money" required>
                     <br><br>
                     <input type="submit" value="Play Poker!" id="loginsubmit">
                 </fieldset>
             </form>
            <form action="{{ url_for('homepage') }}" method="post" id="formDefaultSignin">
                <fieldset id="fieldsetDefaultSignin">
                    <legend>Sign In</legend>
                    <label for="usernameSignin"><b>Username: </b></label>
                    <input type="text" placeholder="Name" id="usernameSignin" name="user" required minlength="3" maxlength="16">
                    <br><br>
                    <input type="hidden" value="1000000" name="money">
                    <label for="Emailsignin"><b>E-mail: </b></label>
                    <input type="email" required placeholder="E-mail" maxlength="128" id="Emailsignin" name="EmailSignin">
                    <br><br>
                    <label for="passwordsignin"><b>Password: </b></label>
                    <input type="password" required maxlength="32" minlength="6" id="passwordsignin" name="password" placeholder="Password">
                    <br><br>
                    <b id="confirmB">Confirm</b><br>
                    <label for="confirmpasswordsignin"><b>Password: </b></label>
                    <input type="password" required maxlength="32" minlength="6" id="confirmpasswordsignin" name="confirmpassword" placeholder="Confirm Password">
                    <h6 id="passwordErrorText"></h6>
                    <br>
                    <input type="submit" value="Sign In!" id="signinsubmit" disabled>
                </fieldset>
            </form>
        </div>
    </body>
</html>
