<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Play Poker!</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/PlayPokerStyle.css">
    </head>

    <body>
        <div id="PlayPokerRightDiv">
            <h2>
                Information about the game:
            </h2>
            <h4>
                Blinds = {{ blind }}
                <br>
                Current Round = {{ round }}
            </h4>
        </div>
        <div id="PlayPokerLeftDiv">
            <a href="{{ url_for('logouttoHomePage') }}"><h1>Poker Game</h1></a><br><br>
            <h2>Hi {{ player.user }}! </h2><br>
            <h2>You're going to play with $ {{ player.money | int }}.</h2><br><br>
            <form action="{{ url_for('play_poker') }}" method="post" id="FoldForm">
                <input type="hidden" value="{{ player.user }}" name="user">
                <input type="hidden" value="{{ player.money | int }}" name="money">
                <input type="hidden" value="{{ round }}" name="round">
                <input type="hidden" value="start" name="phase">
                <input type="hidden" value="{{ blind }}" name="blind">
                <input type="submit" value="Fold" id="FoldButton">
            </form>
            <div id="sliderBet">
                <label id="BetLabel" for="BettingRange">Bet: </label>
                <input type="range" id="BettingRange" min="{{ blind }}" max="{{ player.money | int }}" value="{{ blind * 2 }}">
                <label for="BettingValue"></label>
                <input type="number" id="BettingValue" max="{{ player.money | int }}" min="{{ blind }}" value="{{ blind * 2 }}" ><br>
                <input type="submit" id="BettingSubmit" value="Bet">
                <script>
                    {#let money = document.URL.match(/money=([0-9]+)/)[1];#}
                    const betButton = document.getElementById("BettingSubmit");
                    const slider = document.getElementById("BettingRange");
                    const numberBox = document.getElementById("BettingValue");

                    {# Bet window #}
                    betButton.onclick = function () {
                        {#TODO#}
                        window.alert(document.getElementById("BettingRange").value);
                    };

                    {# Slider numberBox relationship #}
                    numberBox.value = slider.value.toString();
                    slider.oninput = function() {
                        numberBox.value = this.value;
                    };

                    numberBox.oninput = function() {
                        slider.value = this.value;
                    };
                </script>
            </div>
            <br>
            <div id="handdiv">
                <fieldset id="LeftFieldSet">
                    <legend>Your Hand</legend>
                    <h3 id="LeftFieldSetH3"></h3>
                </fieldset>
            </div>
        </div>
        <div id="PlayPokerMidDiv">
            <fieldset id="MidFieldSet">
                <h3 id="midfieldseth3"></h3>
            </fieldset>
        </div>
    <script>
        const midfield = document.getElementById("midfieldseth3");
        const leftfield = document.getElementById("LeftFieldSetH3");

        {% set player_hand = Hand(deck.cards_list.pop(), deck.cards_list.pop()) %}
        {% set computer_hand = Hand(deck.cards_list.pop(), deck.cards_list.pop()) %}
        leftfield.textContent += {{ player_hand | string | tojson | safe}};

        {% for card in deck.cards_list %}
            midfield.textContent += {{ card | string | tojson | safe }} + "\r\n";
        {% endfor %}

    </script>
    </body>
</html>
