<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Play Poker!</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/PlayPokerStyle.css">
    </head>

    <body>
        <div id="PlayPokerRightDiv">
            <h2>
                Information about the game:
            </h2>
            <h4 id="RightDivH4">
                Blinds = {{ info['blind'] }}<br>
                Current Round = {{ info['round'] }}
            </h4>
        </div>
        <div id="PlayPokerLeftDiv">
            <a href="{{ url_for('logouttoHomePage') }}"><h1>Poker Game</h1></a><br><br>
            <h2>Hi {{ info['user'] }}! </h2><br>
            <h2 id="playertextmoney">You're going to play with $ {{ money | int }}.</h2><br><br>
            <form action="{{ url_for('play_poker') }}" method="post" id="FoldForm">
                <input type="hidden" value="{{ info }}" name="info">
                <input type="hidden" value="{{ computer_money }}" name="computer_money" id="computer_money_input">
                <input type="hidden" value="{{ money }}" name="money" id="player_money_input">
                <input type="submit" value="Reload" id="ReloadButton" style="display: none;">
                <input type="submit" value="Fold" id="FoldButton" class="playerActionButton">
                <script>
                    const FoldButton = document.getElementById("FoldButton");
                    FoldButton.onclick = function () {
                        sum_computer_money(pot);
                        pot = 0;
                    }
                </script>
            </form>
            <div id="sliderBet">
                <label id="BetLabel" for="BettingRange">Bet: </label>
                <input type="range" id="BettingRange" min="{{ info['blind'] }}" max="{{ money | int }}" value="{{ info['blind'] * 2 }}">
                <label for="BettingValue"></label>
                <input type="number" id="BettingValue" max="{{ money | int }}" min="{{ info['blind'] }}" value="{{ info['blind'] * 2 }}" ><br>
                <input type="submit" id="BettingSubmit" value="Bet" class="playerActionButton">
                <script>
                    {#let money = document.URL.match(/money=([0-9]+)/)[1];#}
                    const betButton = document.getElementById("BettingSubmit");
                    const slider = document.getElementById("BettingRange");
                    const numberBox = document.getElementById("BettingValue");
                    const playertextmoney = document.getElementById("playertextmoney");
                    const playermoneyinput = document.getElementById("player_money_input");
                    const computermoneyinput = document.getElementById("computer_money_input");
                    const reloadButton = document.getElementById("ReloadButton");
                    let current_round = {{ info['round'] | safe | int }};
                    let current_blind = {{ info['blind'] | safe |  int }};
                    let player_money = {{ money | safe |  int}};
                    let computer_money = {{ computer_money | safe |  int }};
                    let pot = 0;
                    let game_phase = "start";
                    let winner = {{ winner | safe |  int }};
                    let flop = {{ flop | safe | tojson | string }};
                    let turn = {{ turn | safe | tojson | string }};
                    let river = {{ river | safe | tojson | string }};
                    let player_hand = {{ player_hand | safe | tojson | string }};
                    let computer_hand = {{ computer_hand | safe | tojson | string }};
                    const computer_choices = Array("Fold", "Check", "Raise");
                    let computer_bet = 0;

                    {# Adding random choices to the computer actions #}
                    Array.prototype.random = function () {
                      return this[Math.floor((Math.random()*this.length))];
                    };

                    {# Slider numberBox relationship #}
                    slider.oninput = function() {
                        numberBox.value = this.value;
                    };

                    slider.addEventListener("keyup", function (event) {
                        if(event.key === "Enter")
                            betButton.click();
                    });

                    numberBox.oninput = function() {
                        slider.value = this.value;
                    };

                    numberBox.addEventListener("keyup", function (event) {
                        if(event.key === "Enter")
                            betButton.click();
                    });


                    {# game functions #}
                    function adjust_player_info() {
                        slider.min = Number(slider.min) < Number(player_money) ? Number(slider.min) : Number(player_money);
                        slider.max = Number(player_money);
                        slider.value = Number(slider.min);
                        numberBox.min = Number(numberBox.min) < Number(player_money) ? Number(numberBox.min): Number(player_money);
                        numberBox.max = Number(player_money);
                        numberBox.value = Number(slider.value);
                        playertextmoney.textContent = "You're going to play with $ " + player_money + ".";
                        playermoneyinput.value = player_money;
                    }

                    function reduce_player_money(amount) {
                        player_money = player_money - amount;
                        {# Make sure the slider and numberbox doesn't break its values #}
                        adjust_player_info();
                    }

                    function sum_player_money(amount) {
                        player_money = player_money + amount;
                        {# Make sure the slider and numberbox doesn't break its values #}
                        adjust_player_info();
                    }

                    function adjust_computer_money() {
                        rightfield.innerHTML = "Blinds = " + current_blind + "<br>" + "Current Round = " + current_round;
                        rightfield.innerHTML += "<br>Computer money = " + computer_money;
                        computermoneyinput.value = computer_money;
                    }

                    function reduce_computer_money(amount) {
                        computer_money = computer_money - amount;
                        adjust_computer_money();
                    }

                    function sum_computer_money(amount) {
                        computer_money = computer_money + amount;
                        adjust_computer_money();
                    }

                    function computerPayed(action, bet) {
                        pot += bet;
                        reduce_computer_money(bet);
                        midfield.innerHTML += "The computer payed the " + action + ".<br>";
                        midfield.innerHTML += "Now the current pot is: " + pot + ".<br>";
                    }

                    function computer_all_in_difference_pay(bet) {
                        const pay_difference = bet - computer_money;
                        pot = pot - pay_difference;
                        sum_player_money(pay_difference);
                        pot += computer_money;
                        reduce_computer_money(computer_money);
                    }

                    function player_all_in_difference_pay(bet) {
                        const pay_difference = bet - player_money;
                        pot = pot - pay_difference;
                        sum_computer_money(pay_difference);
                        pot += player_money;
                        reduce_player_money(player_money);
                    }

                    function do_flop() {
                        midfield.innerHTML += "The flop is:<br>";
                        midfield.innerHTML += flop;
                        game_phase = "turn";
                    }

                    function do_turn() {
                        midfield.innerHTML += "The turn is:<br>";
                        midfield.innerHTML += turn + "<br>";
                        game_phase = "river";
                    }

                    function do_river() {
                        midfield.innerHTML += "The river is:<br>";
                        midfield.innerHTML += river + "<br>";
                        game_phase = "end";
                    }

                    function do_endGame() {
                        game_phase = "error";
                        midfield.innerHTML += "The player's hand is:<br>";
                        midfield.innerHTML += player_hand + "<br>";
                        midfield.innerHTML += "The computer's hand is:<br>";
                        midfield.innerHTML += computer_hand + "<br>";
                        midfield.innerHTML += "The winner is...<br>";
                        switch(winner) {
                            case 1:
                                {# player #}
                                midfield.innerHTML += "The Player!<br>";
                                midfield.innerHTML += "You won a pot of $" + pot + ".<br>";
                                sum_player_money(pot);
                                pot = 0;
                                midfield.innerHTML += "Another game will start soon.<br>";
                                setTimeout(function() {
                                    reloadButton.click();
                                }, 5000);
                                return false;
                            case 2:
                                {# computer #}
                                midfield.innerHTML += "The Computer!<br>";
                                midfield.innerHTML += "The Computer won a pot of $" + pot + ".<br>";
                                sum_computer_money(pot);
                                pot = 0;
                                midfield.innerHTML += "Another game will start soon.<br>";
                                setTimeout(function() {
                                    reloadButton.click();
                                }, 5000);
                                return false;
                            case 3:
                                {# tie #}
                                midfield.innerHTML += "It's a tie!<br>";
                                midfield.innerHTML += "A pot of $" + pot + " will be shared among you.<br>";
                                sum_player_money(Math.floor(pot/2));
                                sum_computer_money(Math.floor(pot/2));
                                pot = 0;
                                midfield.innerHTML += "Another game will start soon.<br>";
                                setTimeout(function() {
                                    reloadButton.click();
                                }, 3000);
                                return false;
                            default:
                                {# error #}
                                midfield.innerHTML += "There has been a error.<br>";
                                midfield.innerHTML += "You'll be redirected to the front page.<br>";
                                pot = 0;
                                setTimeout(function() {
                                    window.location.replace('/');
                                }, 3000);
                                return false;
                        }
                    }

                    function do_game_phase() {
                        switch (game_phase) {
                            case "flop":
                                do_flop();
                                break;
                            case "turn":
                                do_turn();
                                break;
                            case "river":
                                do_river();
                                break;
                            case "end":
                                do_endGame();
                                break;
                            default:
                                window.location.replace('/');
                                return false;
                        }
                    }

                    {# Bet window #}
                    betButton.onclick = function () {
                        const betValue = Number(document.getElementById("BettingRange").value) - computer_bet;
                        pot += betValue;
                        {# Place bet #}
                        reduce_player_money(betValue);
                        midfield.innerHTML += "The player bets " + betValue + ".<br>";
                        midfield.innerHTML += "Now the pot is: " + pot + ".<br>";
                        const computerChoice = computer_choices.random();
                        switch (computerChoice) {
                            case "Fold":
                                midfield.innerHTML += "The computer folded.<br>";
                                midfield.innerHTML += "Another game will start soon.<br>";
                                midfield.innerHTML += "The player won a pot of $" + pot +".<br>";
                                sum_player_money(pot);
                                pot = 0;
                                setTimeout(function() {
                                    reloadButton.click();
                                }, 5000);
                                return false;
                            case "Check": {# call #}
                                if(computer_money >= betValue) {
                                    pot += betValue;
                                    reduce_computer_money(betValue);
                                } else {
                                    computer_all_in_difference_pay(betValue);
                                }
                                midfield.innerHTML += "The computer called the bet.<br>";
                                midfield.innerHTML += "Now the pot is: " + pot + ".<br>";
                                do_game_phase();
                                break;
                            case "Raise":
                                {# todo #}
                                const possible_raise = betValue + current_blind * 2;
                                if(computer_money >= possible_raise) {
                                    midfield.innerHTML += "Computer raised 2 times the blind.<br>";
                                    pot += possible_raise;
                                    computer_bet = possible_raise;
                                    reduce_computer_money(possible_raise);
                                    midfield.innerHTML += "The pot is now $" + pot +".<br>";
                                    Make_Call_Button();
                                } else if(computer_money > 0) {
                                    midfield.innerHTML += "Computer went all in<br>";
                                    pot += computer_money;
                                    computer_bet = computer_money;
                                    reduce_computer_money(computer_money);
                                    midfield.innerHTML += "The pot is now $" + pot +".<br>";
                                    Make_Call_Button();
                                } else {
                                    midfield.innerHTML += "The computer is already all in.<br>";
                                    do_game_phase();
                                }
                                break;
                            default:
                                midfield.innerHTML += "There's been an error. You'll be redirected to the homepage<br>";
                                setTimeout(function() {
                                    window.location.replace('/');
                                }, 3000);
                                return false;
                        }
                    };

                </script>
            </div>
            <p>
                <input type="submit" id="checkButton" value="Check" class="playerActionButton">
                <script>
                    const checkButton = document.getElementById("checkButton");

                    function Make_Call_Button() {
                        {# If the computer bets, call this function #}
                        checkButton.value = "Call";
                        {# todo #}
                        if(Number(slider.max) >= computer_bet){

                        } else {

                        }
                    }

                    checkButton.onclick = function() {
                        switch (checkButton.value) {
                            case "Call":
                                {# todo #}
                                if(player_money > computer_bet) {

                                } else {

                                }
                                break;
                            case "Check":
                                midfield.innerHTML += "Player checks.<br>";
                                const computerChoice = computer_choices.random();
                                switch (computerChoice) {
                                    case "Fold":
                                        midfield.innerHTML += "The computer folded.<br>";
                                        midfield.innerHTML += "Another game will start soon.<br>";
                                        midfield.innerHTML += "The player won a pot of $" + pot +".<br>";
                                        sum_player_money(pot);
                                        pot = 0;
                                        setTimeout(function() {
                                            reloadButton.click();
                                        }, 5000);
                                        return false;
                                    case "Check":
                                        midfield.innerHTML += "Computer checks.<br>";
                                        do_game_phase();
                                        break;
                                    case "Raise":
                                        const possible_raise = current_blind * 2;
                                        if(computer_money >= possible_raise) {
                                            midfield.innerHTML += "Computer raised 2 times the blind.<br>";
                                            pot += possible_raise;
                                            computer_bet = possible_raise;
                                            reduce_computer_money(possible_raise);
                                            midfield.innerHTML += "The pot is now $" + pot +".<br>";
                                            Make_Call_Button();
                                        } else if(computer_money > 0) {
                                            midfield.innerHTML += "Computer went all in<br>";
                                            pot += computer_money;
                                            computer_bet = computer_money;
                                            reduce_computer_money(computer_money);
                                            midfield.innerHTML += "The pot is now $" + pot +".<br>";
                                            Make_Call_Button();
                                        } else {
                                            midfield.innerHTML += "The computer is already all in.<br>";
                                            do_game_phase();
                                        }
                                        break;
                                    default:
                                        midfield.innerHTML += "There's been an error. You'll be redirected to the homepage<br>";
                                        setTimeout(function() {
                                            window.location.replace('/');
                                        }, 3000);
                                        return false;
                                }
                                break;
                            default:
                                break;
                        }
                    }
                </script>
            </p>
            <div id="handdiv">
                <fieldset id="LeftFieldSet">
                    <legend>Your Hand</legend>
                    <h3 id="LeftFieldSetH3"></h3>
                </fieldset>
            </div>
        </div>
        <div id="PlayPokerMidDiv">
            <fieldset id="MidFieldSet">
                <h3 id="midfieldseth3"></h3>
            </fieldset>
        </div>
    <script>
        {# Start of the game script #}
        const midfield = document.getElementById("midfieldseth3");
        const leftfield = document.getElementById("LeftFieldSetH3");
        const rightfield = document.getElementById("RightDivH4");

        leftfield.innerHTML += {{ player_hand.get_two_cards() | string | tojson | safe}};
        rightfield.innerHTML += "<br>Computer money = " + computer_money;


        {# Beginning of the game: #}
        midfield.innerHTML += "Round " + current_round + ", Game Start:<br>";
        if(current_round % 2 === 1){
            {# If the round is odd, the player is the big blind #}
            midfield.innerHTML += "The player is the Big Blind.<br>";
            if(player_money > current_blind) {
                pot += current_blind;
                reduce_player_money(current_blind);
                midfield.innerHTML += "The player payed the big blind.<br>";
                midfield.innerHTML += "Now the current pot is: " + pot + ".<br>";
                {# the small blind #}
                small_blind = current_blind / 2;
                if(computer_money > small_blind) {
                    computerPayed("small blind", small_blind);
                        {# Computer action #}
                    betValue = small_blind;
                        {# for now he'll always pay #}
                    if(computer_money > betValue) {
                        computerPayed("full blind", betValue);
                    } else {
                        computerPayed("full blind, going all in", computer_money);
                    }

                } else {
                    computer_all_in_difference_pay(pot);
                    midfield.innerHTML += "The computer went all in.<br>";
                    midfield.innerHTML += "Part of the bet was returned to the player.<br>";
                    midfield.innerHTML += "Now the current pot is: " + pot + ".<br>";
                }
            } else {
                pot += player_money;
                reduce_player_money(player_money);
                midfield.innerHTML += "The player went all in.<br>";
                midfield.innerHTML += "Now the current pot is: " + pot + ".<br>";
                    {# small blind #}
                small_blind = current_blind / 2;
                if(pot >= small_blind) {
                    {# the 'bet' isn't full, it needs to calculate the difference to pay #}
                    if(computer_money > small_blind) {
                        pay_difference = pot - small_blind;
                        computerPayed("small blind", small_blind);

                        {# computer play / for now always pays #}
                        computerPayed("remaining value", pay_difference);
                    } else {
                        computer_all_in_difference_pay(pot);
                        midfield.innerHTML += "The computer went all in.<br>";
                        midfield.innerHTML += "Part of the bet was returned to the player.<br>";
                        midfield.innerHTML += "Now the current pot is: " + pot + ".<br>";
                    }

                } else {
                    if(computer_money >= pot) {
                        computerPayed("player's all in", pot);
                        {# computer action/ for now always check #}
                        {#midfield.innerHTML += "The computer checks.<br>";#}
                    } else {
                        computer_all_in_difference_pay(pot);
                        midfield.innerHTML += "The computer went all in.<br>";
                        midfield.innerHTML += "Part of the bet was returned to the player.<br>";
                        midfield.innerHTML += "Now the current pot is: " + pot + ".<br>";

                    }
                }
            }
        } else {
            midfield.innerHTML += "The computer is the Big Blind.<br>";
            {# If the round is even, the computer is the big blind #}
            if(computer_money > current_blind) {
                pot += current_blind;
                reduce_computer_money(current_blind);
                midfield.innerHTML += "The computer payed the big blind.<br>";
                midfield.innerHTML += "Now the current pot is: " + pot + ".<br>";
                {# small blind #}
                small_blind = current_blind / 2;
                if(player_money > small_blind) {
                    pot += small_blind;
                    reduce_player_money(small_blind);
                    midfield.innerHTML += "The player payed the small blind.<br>";
                    midfield.innerHTML += "Now the current pot is: " + pot + ".<br>";


                    {# player plays #}
                } else {
                    midfield.innerHTML += "The player went all in.<br>";
                    midfield.innerHTML += "Part of the bet was returned to the computer.<br>";
                    player_all_in_difference_pay(pot);
                    midfield.innerHTML += "Now the current pot is: " + pot + ".<br>";
                }
            } else {
                pot += computer_money;
                reduce_computer_money(computer_money);
                midfield.innerHTML += "The computer went all in.<br>";
                midfield.innerHTML += "Now the current pot is: " + pot + ".<br>";
                {# small blind #}
                small_blind = current_blind / 2;
                if(pot >= small_blind) {
                    if(player_money >= small_blind) {
                        pot += small_blind;
                        reduce_player_money(small_blind);
                        midfield.innerHTML += "The player payed the small blind.<br>";
                        midfield.innerHTML += "Now the current pot is: " + pot + ".<br>";

                        {# player plays #}
                    } else {
                        pay_difference = pot - player_money;
                        player_all_in_difference_pay(pot);
                        midfield.innerHTML += "The player went all in.<br>";
                        midfield.innerHTML += "Part of the bet was returned to the computer.<br>";
                        midfield.innerHTML += "Now the current pot is: " + pot + ".<br>";
                    }
                } else {
                    if(player_money >= pot) {
                        reduce_player_money(pot);
                        pot += pot;
                        midfield.innerHTML += "The player payed the computer's all in.<br>";
                        midfield.innerHTML += "Now the current pot is: " + pot + ".<br>";
                    } else {
                        player_all_in_difference_pay(pot);
                        midfield.innerHTML += "The player went all in.<br>";
                        midfield.innerHTML += "Part of the bet was returned to the computer.<br>";
                        midfield.innerHTML += "Now the current pot is: " + pot + ".<br>";
                    }
                }
            }
        }
        game_phase = "flop";
    </script>
    </body>
</html>
