<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Play Poker!</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/PlayPokerStyle.css">
    </head>

    <body>
        <div id="PlayPokerRightDiv">
            <h2>
                Information about the game:
            </h2>
            <h4 id="RightDivH4">
                Blinds = {{ info['blind'] }}<br>
                Current Round = {{ info['round'] }}
            </h4>
        </div>
        <div id="PlayPokerLeftDiv">
            <a href="{{ url_for('logouttoHomePage') }}"><h1>Poker Game</h1></a><br><br>
            <h2>Hi {{ info['user'] }}! </h2><br>
            <h2 id="playertextmoney">You're going to play with $ {{ money | int }}.</h2><br><br>
            <form action="{{ url_for('play_poker') }}" method="post" id="FoldForm">
                <input type="hidden" value="{{ info }}" name="info">
                <input type="hidden" value="{{ computer_money }}" name="computer_money" id="computer_money_input">
                <input type="hidden" value="{{ money }}" name="money" id="player_money_input">
                <input type="submit" value="Fold" id="FoldButton" class="playerActionButton">
            </form>
            <div id="sliderBet">
                <label id="BetLabel" for="BettingRange">Bet: </label>
                <input type="range" id="BettingRange" min="{{ info['blind'] }}" max="{{ money | int }}" value="{{ info['blind'] * 2 }}">
                <label for="BettingValue"></label>
                <input type="number" id="BettingValue" max="{{ money | int }}" min="{{ info['blind'] }}" value="{{ info['blind'] * 2 }}" ><br>
                <input type="submit" id="BettingSubmit" value="Bet" class="playerActionButton">
                <script> {# Buttons script #}
                    {#let money = document.URL.match(/money=([0-9]+)/)[1];#}
                    const betButton = document.getElementById("BettingSubmit");
                    const slider = document.getElementById("BettingRange");
                    const numberBox = document.getElementById("BettingValue");
                    const playertextmoney = document.getElementById("playertextmoney");
                    const playermoneyinput = document.getElementById("player_money_input");
                    const computermoneyinput = document.getElementById("computer_money_input");
                    let current_round = {{ info['round'] | int }};
                    let current_blind = {{ info['blind'] | int }};
                    let player_money = {{ money | int}};
                    let computer_money = {{ computer_money }};
                    let pot = 0;
                    let game_phase = "start";
                    let winner = {{ winner | int }}

                    {# Slider numberBox relationship #}
                    slider.oninput = function() {
                        numberBox.value = this.value;
                    };

                    slider.addEventListener("keyup", function (event) {
                        if(event.key === "Enter")
                            betButton.click();
                    });

                    numberBox.oninput = function() {
                        slider.value = this.value;
                    };

                    numberBox.addEventListener("keyup", function (event) {
                        if(event.key === "Enter")
                            betButton.click();
                    });


                    {# game functions #}
                    function adjust_player_info() {
                        slider.min = parseInt(slider.min) < parseInt(player_money) ? parseInt(slider.min) : parseInt(player_money);
                        slider.max = player_money;
                        slider.value = Math.floor((parseInt(slider.min) + parseInt(slider.max)) / 2);
                        numberBox.min = parseInt(numberBox.min) < parseInt(player_money) ? parseInt(numberBox.min): parseInt(player_money);
                        numberBox.max = player_money;
                        numberBox.value = Math.floor((parseInt(numberBox.min) + parseInt(numberBox.max)) / 2);
                        playertextmoney.textContent = "You're going to play with $ " + player_money + ".";
                        playermoneyinput.value = player_money;
                    }

                    function reduce_player_money(amount) {
                        player_money = player_money - amount;
                        {# Make sure the slider and numberbox doesn't break its values #}
                        adjust_player_info();
                    }

                    function sum_player_money(amount) {
                        player_money = player_money + amount;
                        {# Make sure the slider and numberbox doesn't break its values #}
                        adjust_player_info();
                    }

                    function adjust_computer_money() {
                        rightfield.innerHTML = "Blinds = {{ info['blind'] }}<br>Current Round = {{ info['round'] }}";
                        rightfield.innerHTML += "<br>Computer money = " + computer_money;
                        computermoneyinput.value = computer_money;
                    }

                    function reduce_computer_money(amount) {
                        computer_money = computer_money - amount;
                        adjust_computer_money();
                    }

                    function sum_computer_money(amount) {
                        computer_money = computer_money + amount;
                        adjust_computer_money();
                    }

                    function computerPayed(action, bet) {
                        pot += bet;
                        reduce_computer_money(bet);
                        midfield.innerHTML += "The computer payed the " + action + ".<br>";
                        midfield.innerHTML += "Now the current pot is: " + pot + ".<br>";
                    }

                    function computer_all_in_difference_pay(bet) {
                        const pay_difference = bet - computer_money;
                        pot = pot - pay_difference;
                        sum_player_money(pay_difference);
                        pot += computer_money;
                        reduce_computer_money(computer_money);
                    }

                    function player_all_in_difference_pay(bet) {
                        const pay_difference = bet - player_money;
                        pot = pot - pay_difference;
                        sum_computer_money(pay_difference);
                        pot += player_money;
                        reduce_player_money(player_money);
                    }

                    {# Bet window #}
                    betButton.onclick = function () {
                        const betValue = document.getElementById("BettingRange").value;
                        pot += betValue;
                        {# Place bet #}
                        reduce_player_money(betValue);
                        {# TODO text midfield detailing action #}
                        {# if game_phase... #}

                        {# TODO computer action interface action game follow-up  #}
                        {# computer will always check/pay until IA is implemented #}
                        if(computer_money >= betValue) {
                            pot += betValue;
                            reduce_computer_money(betValue);
                        } else {
                            computer_all_in_difference_pay(betValue);
                        }
                        {# TODO text midfield detailing action from computer #}
                    };

                </script>
            </div>
            <p>
                <input type="submit" id="checkButton" value="check" class="playerActionButton">
                <script>
                    const checkButton = document.getElementById("checkButton");

                    checkButton.onclick = function() {
                    {#    if there's nothing to pay #}

                    }
                </script>
            </p>
            <div id="handdiv">
                <fieldset id="LeftFieldSet">
                    <legend>Your Hand</legend>
                    <h3 id="LeftFieldSetH3"></h3>
                </fieldset>
            </div>
        </div>
        <div id="PlayPokerMidDiv">
            <fieldset id="MidFieldSet">
                <h3 id="midfieldseth3"></h3>
            </fieldset>
        </div>
    <script>
        {# Start of the game script #}
        const midfield = document.getElementById("midfieldseth3");
        const leftfield = document.getElementById("LeftFieldSetH3");
        const rightfield = document.getElementById("RightDivH4");

        leftfield.innerHTML += {{ player_hand.get_two_cards() | string | tojson | safe}};
        rightfield.innerHTML += "<br>Computer money = " + computer_money;


        {# Beginning of the game: #}
        midfield.innerHTML += "Round " + current_round + ", Game Start:<br>";
        if(current_round % 2 === 1){
            {# If the round is odd, the player is the big blind #}
            midfield.innerHTML += "The player is the Big Blind.<br>";
            if(player_money > current_blind) {
                pot += current_blind;
                reduce_player_money(current_blind);
                midfield.innerHTML += "The player payed the big blind.<br>";
                midfield.innerHTML += "Now the current pot is: " + pot + ".<br>";
                {# the small blind #}
                small_blind = current_blind / 2;
                if(computer_money > small_blind) {
                    computerPayed("small blind", small_blind);
                        {# Computer action #}
                    betValue = small_blind;
                        {# for now he'll always pay #}
                    if(computer_money > betValue) {
                        computerPayed("full blind", betValue);
                    } else {
                        computerPayed("full blind, going all in", computer_money);
                    }

                } else {
                    computer_all_in_difference_pay(pot);
                    midfield.innerHTML += "The computer went all in.<br>";
                    midfield.innerHTML += "Part of the bet was returned to the player.<br>";
                    midfield.innerHTML += "Now the current pot is: " + pot + ".<br>";
                }
            } else {
                pot += player_money;
                reduce_player_money(player_money);
                midfield.innerHTML += "The player went all in as the big blind.<br>";
                midfield.innerHTML += "Now the current pot is: " + pot + ".<br>";
                    {# small blind #}
                small_blind = current_blind / 2;
                if(pot >= small_blind) {
                    {# the 'bet' isn't full, it needs to calculate the difference to pay #}
                    {# todo #}
                    if(computer_money > small_blind) {
                        computerPayed("small blind", small_blind);
                    } else {
                        computerPayed("small blind with an all in", computer_money);
                    }

                } else {
                    if(computer_money > pot) {
                        computerPayed("player's all in", pot);
                    } else {
                        computerPayed("player's all in with its own", computer_money);
                    }
                    {# computer action/ for now always check #}
                    midfield.innerHTML += "The computer checks.<br>";
                }
            }
        } else {
            midfield.innerHTML += "The computer is the Big Blind.<br>";
            {# If the round is even, the computer is the big blind #}

        }
    </script>
    </body>
</html>
