html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#bodydivh1 {
    width: 50%;
    font-family: "Droid Serif", "DejaVu Serif", "STIX", serif;
    text-align: left;
    margin: 0 auto;
}

h1 {
    padding-bottom: 2vw;
    padding-top: 2vw;
    padding-right: 2vw;
    text-align: center;
}

a, label, legend, #confirmB {
    color: white;
    text-decoration: none;
}

label, #confirmB {
    margin-left: 13.5em;
}

legend {
    font-style: italic;
    text-align: left;
    text-indent: 4vh;
}

a:hover{
    color: floralwhite;
    text-decoration: underline;
}

fieldset {
    margin-bottom: 3vw;
}

#fieldsetDefaultLogin {
    margin-bottom: 5vw;
}

#username, #value {
    width: 15vh;
}

#username, #usernameSignin {
    margin-top: 1vw;
}

label {
    margin-top: 1vw;
    width: 12vh;
}

input, #username {
    width: 14vw;
}

#signinsubmit, #loginsubmit {
    margin-left: 18vw;
    width: 10vw;
    margin-bottom: 1vw;
}

#moneylogin {
    margin-left: 1em;
}

#Emailsignin {
    margin-left: 2.4em;
}

#passwordsignin {
    margin-left: 0.5em;
}

#confirmpasswordsignin {
    margin-left: 0.5em;
}

