#bodydivh1 {
    width: 50%;
    overflow: hidden;
    background: lightgrey;
    padding-left: 25px;
    font-family: "Droid Serif", "DejaVu Serif", "STIX", serif;
    margin: 0 auto;
    text-align: center;
}


a {
    color: black;
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: underline;
}

