html, body, #PlayPokerLeftDiv, #PlayPokerMidDiv, #PlayPokerRightDiv {
    height: 100%;
}

body {
    /*background: black;*/
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;

}

#PlayPokerLeftDiv {
    width: 25%;
    overflow: hidden;
    float: left;
    margin: 0 1.5vw 0 1vw;
}

#PlayPokerMidDiv {
    width: 45%;
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
}

#PlayPokerRightDiv {
    width: 25%;
    float: right;
    margin: 0 0.5vw;
    overflow: hidden;
    padding-left: 5px;
}

#MidFieldSet {
    border-width: 1vh;
}

h1 {
    font-size: 3vw;
    font-style: italic;
    width: max-content;
}


a, h2 {
    color: white;
    text-decoration: none;
}

a {
    display: inline-block;
    width: min-content;
    height: min-content;
}

a:hover {
    color: whitesmoke;
    text-decoration: underline;
    font-style: oblique;
}

#FoldButton {
    height: 20px;
    width: 60px;
    margin-left: 1.5vw;
}

#FoldButton:hover {
    cursor: pointer;
    height: 25px;
    width: 65px;
    font-weight: bold;
}
