<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Play Poker!</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/PlayPokerStyle.css">
        <script type="module" src="../static/PlayPokerSliderScript.js"></script>
        <script type="module" src="../static/PlayPokerBetFunction.js"></script>
    </head>

    <body>
        <div id="PlayPokerRightDiv">
            <h2>
                Information about the game:
            </h2>
            <h4>
                Blinds = {{ blind }}
            </h4>
        </div>
        <div id="PlayPokerLeftDiv">
            <a href="/"><h1>Poker Game</h1></a><br><br>
            <h2>Hi {{ username }}! </h2><br>
            <h2>You're going to play with $ {{ value }}.</h2><br><br>
            <form action="PlayPoker.html" method="get" id="FoldForm">
                <input type="hidden" value="{{ username }}" name="user">
                <input type="hidden" value="{{ money }}" name="money">
                <input type="hidden" value="{{ round }}" name="round">
                <input type="hidden" value="start" name="phase">
                <input type="hidden" value="{{ blind }}" name="blind">
                <input type="hidden" value="" name="text">
                <input type="submit" value="Fold" id="FoldButton">
            </form>
            <div id="sliderBet">
                <label id="BetLabel" for="BettingRange">Bet: </label>
                <input type="range" id="BettingRange" min="{{ blind }}" max="{{ money }}" value="{{ blind * 2 }}">
                <label for="BettingValue"></label>
                <input type="number" id="BettingValue" max="{{ money }}" min="{{ blind }}" value="{{ blind * 2 }}" ><br>
                <input type="submit" id="BettingSubmit" value="Bet">
            </div>
        </div>
        <div id="PlayPokerMidDiv">
            <fieldset id="MidFieldSet">

            </fieldset>
        </div>
        <script type="module" src="../static/PlayPokerFieldSetScript.js"></script>
    </body>
</html>
